{% extends 'base.html' %}
{% load static %}

{% block title %}Product{% endblock %}
{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:update' photo.pk %}">Edit</a></li>
        <li><a href="{% url 'webapp:delete' photo.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ photo.author }}</h1>
        <img src="{{ photo.picture.url }}" alt="prod_pic" class="avatar">
    <p><b>{{ photo.sign }}</b> </p>
    <p>{{ photo.created_at|date:'d.m.Y H:i:s' }}</p>
    <p>Like {{ photo.like }}</p>
    <div>
        <h3>Comments:</h3>
            {% for phot in photo.comments.all %}
                    <p> {{ phot.text }}</p>
                    <p> Author: {{ phot.author }}</p>
                    <p> Date: {{ phot.created_at|date:'d.m.Y H:i:s' }}</p>
                    <hr>
            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
    </div>

{% endblock %}

